@{
    ViewData["Title"] = "Index";
}
@model Instructor

<div class="row justify-content-between">
    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
            <div class="arion">
                <nav class="transparent">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Go To Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Notifications</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="table-responsive">
            <table class="table dash_list">
                <thead>
                    <tr class="breadcrumb">
                        <th scope="col"> User Name</th>
                        <th scope="col"> Course Name</th>
                        <th scope="col">Review</th>
                        <th scope="col">Review Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var courses in Model.Courses)
                    {
                        @foreach(var review in courses.CourseReviews)
                        {
                            <tr class="breadcrumb">
                                <td><h6>@review.AppUser.UserName</h6></td>
                                <td><h6>@review.Course.Name</h6></td>
                                <td>@review.ReviewContent</td>
                                <td><h6>@review.ReviewDate</h6></td>
                                <td>
                                    <div class="dropdown show">
                                        <a class="btn btn-action" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </a>
                                        <div class="drp-select dropdown-menu">
                                            @if (review.Status==false)
                                            {
                                                <a class="dropdown-item" asp-area="instructorPanel" asp-controller="message" asp-action="readMessage" asp-route-id="@review.Id">Read</a>
                                                
                                            }
                                            <a class="dropdown-item" asp-area="instructorPanel" asp-controller="message" asp-action="deleteMessage" asp-route-id="@review.Id">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</section>
